In [52]:
import os
import pandas as pd
import boto3
import json
import io

In [2]:
%%time
old_data = pd.read_csv("visa_alltime.csv")

CPU times: user 183 ms, sys: 32.3 ms, total: 215 ms
Wall time: 242 ms

In [3]:
old_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488523 entries, 0 to 488522
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   nationality  488523 non-null  object
 1   visa         488523 non-null  object
 2   count        488523 non-null  int64
 3   time         488523 non-null  object
 4   type         488523 non-null  object
dtypes: int64(1), object(4)
memory usage: 18.6+ MB

In [4]:
niv_catalog = pd.read_csv('niv_catalog.csv')
iv_catalog = pd.read_csv('iv_catalog.csv')

In [8]:
with open("aws_credential.txt", 'r') as file:
    aws_credential=json.load(file)
s3=boto3.Session(
    profile_name = None, 
    region_name = 'us-east-2').client(
    's3',
    aws_access_key_id=aws_credential['access_key'],
    aws_secret_access_key=aws_credential['secret_key'])

In [17]:
bucket_niv_content=s3.list_objects(Bucket = aws_credential['bucket'], Prefix ='messy_data/visa_scraped/niv/')['Contents']
bucket_iv_content=s3.list_objects(Bucket = aws_credential['bucket'], Prefix ='messy_data/visa_scraped/iv/')['Contents']

In [22]:
bucket_niv_items=[d['Key'].split('/')[-1] for d in bucket_niv_content]
bucket_iv_items=[d['Key'].split('/')[-1] for d in bucket_iv_content]

In [37]:
bucket_iv_date=[f.split('.')[0].split('_')[-1] for f in bucket_iv_items]
bucket_niv_date=[f.split('.')[0].split('_')[-1] for f in bucket_niv_items]

In [33]:
len_diff=len(bucket_iv_items) - len(old_data.time.unique())
if len_diff > 0:
    print(f'Need to append {len_diff} month(s) to existing data.')
else: print("No actions required, compiled visa data is up to date.")

Need to append 1 month(s) to existing data.

In [32]:
old_data.time.max()

'2025-01-31'

In [38]:
max(bucket_niv_date)

'2025-02-28'

In [41]:
# last item minus the difference in length
bucket_niv_date[-len_diff-1] == old_data.time.max()

True

In [51]:
niv_df_raw = [None] * len_diff

In [80]:
for i in range(len_diff):
    print(i)
    file = s3.get_object(Bucket = aws_credential['bucket'],
              Key = 'messy_data/visa_scraped/niv/'+bucket_niv_items[-i])['Body'].read()
    #niv_df_raw[i] = pd.DataFrame(file.decode("utf-8").split('\n')) # this works
    niv_df_raw[i] = pd.read_csv(io.BytesIO(file), delimiter = "\t", header = None) # also works

0

In [60]:
test_object=s3.get_object(Bucket = aws_credential['bucket'], 
              Key = 'messy_data/visa_scraped/niv/' + bucket_niv_items[-len_diff])['Body'].read()

In [61]:
type(test_object)

bytes

In [81]:
test_object.decode("utf-8").split('\n')[:5]

['Nationality Visa Class Issuances',
 'Afghanistan A2 1',
 'Afghanistan B1/B2 127',
 'Afghanistan F1 18',
 'Afghanistan F2 1']

In [82]:
pd.DataFrame(test_object.decode("utf-8").split('\n')).iloc[:5]

                                  0
0  Nationality Visa Class Issuances
1                  Afghanistan A2 1
2             Afghanistan B1/B2 127
3                 Afghanistan F1 18
4                  Afghanistan F2 1

In [83]:
pd.read_csv(io.BytesIO(test_object), delimiter = "\t", header = None).iloc[:5]

                                  0
0  Nationality Visa Class Issuances
1                  Afghanistan A2 1
2             Afghanistan B1/B2 127
3                 Afghanistan F1 18
4                  Afghanistan F2 1